$secondary-font-color: rgba(0, 0 , 0, 0.7);
$main-font-color: rgba(255, 255, 220, 0.9);
$hover-font-color: rgba(159, 210, 222, 0.8);
$main-background-color: #EAEEEE;
@mixin centered-flex-display{
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin main-text{
  color: $main-font-color;
  font-family: 'Nanum Brush Script', cursive;
  letter-spacing: 3px;
  text-shadow: 2px 2px #4d4c4c;
}

@mixin desktop-size{
  min-width: 850px;
  min-height: 900px;
}
@mixin input-style-desktop{
  font-family: 'Nanum Brush Script', cursive;
  letter-spacing: 3px;
  background: $main-background-color;
  border-radius: 5px;
  padding: 5px;
  margin: 5px;
}
@mixin fade-in{
  @keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
  }
  -webkit-animation: fadein 2s ease-in;
  -moz-animation: fadein 2s ease-in;
   -ms-animation: fadein 2s ease-in;
    -o-animation: fadein 2s ease-in;
       animation: fadein 2s ease-in;
}

.steps-container{
    @include desktop-size();
    @include centered-flex-display();
    background: url('https://res.cloudinary.com/dum4u7sro/image/upload/v1589127413/Small_backgrounds_icons_Journey_App_-_Desktop_vtzuz4.png');
    background-size: contain;
    background-repeat: no-repeat;
    .step-container{
      @include centered-flex-display();
      flex-direction: column;
      h1, h2, p{
        margin: 0;
        padding: 0;
        @include main-text();
      }
    }
}