$secondary-font-color: rgba(41, 40, 40, 0.7);
$main-font-color: rgba(255, 255, 255, 0.9);
$hover-font-color: rgba(159, 210, 222, 0.8);
$main-background-color: rgba(202, 187, 238, 0.7);
@mixin centered-flex-display{
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin main-text{
  color: $main-font-color;
  font-family: 'Nanum Brush Script', cursive;
  letter-spacing: 3px;
  text-shadow: 1px 1px 3px #1f1f1f;
}

@mixin desktop-size{
  max-width: 1000px;
  max-height: 1000px;
}
@mixin input-style-desktop{
  font-family: 'Nanum Brush Script', cursive;
  letter-spacing: 3px;
  background: $main-background-color;
  border-radius: 5px;
  padding: 5px;
  margin: 5px;
}
@mixin fade-in{
  @keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
  }
  -webkit-animation: fadein 1s ease-in;
  -moz-animation: fadein 1s ease-in;
   -ms-animation: fadein 1s ease-in;
    -o-animation: fadein 1s ease-in;
       animation: fadein 1s ease-in;
}

.steps-container{
    @include desktop-size();
    display: flex;
    flex-direction: row;
    @include desktop-size();
    flex-wrap: wrap;
    overflow-y: scroll;
    .step-container{
      text-align: left;
      margin: 10px;
      flex-direction: column;
      background: $main-background-color;
      border-radius: 5px;
      width: 300px;
      padding: 10px;
      h1, h2, p{
        color: $main-font-color;
        margin: 0;
        padding: 0;
        @include main-text();
      }
      span{
        color: $secondary-font-color;
      }
    }
}