//Move all heights and widths here with media quueries and variables
$secondary-font-color: rgba(100, 100, 100, 0.4);
$main-font-color: rgba(255, 255, 220, 0.9);
$hover-font-color: rgba(159, 210, 222, 0.8);
$main-background-color: rgb(234, 238, 238);
@mixin fade-in($waitTime) {
  animation: 
    wait #{$waitTime},
    fadein 2s ease-in #{$waitTime};
}
@keyframes wait {
  0% { opacity: 0; }
  100% { opacity: 0; }
}

@keyframes fade-in {
  0% { opacity: 0; }
  100% { opacity: 1; }
}
@mixin centered-flex-display {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin main-text {
  color: $main-font-color;
  font-family: 'Nanum Brush Script', cursive;
  letter-spacing: 3px;
  text-shadow: 2px 2px #4d4c4c;
}

@mixin breathe-size-desktop {
  min-width: 600px;
  min-height: 600px;
}

@mixin input-style-desktop {
  font-family: 'Nanum Brush Script', cursive;
  letter-spacing: 3px;
  background: $main-background-color;
  border-radius: 5px;
  padding: 5px;
  margin: 5px;
}


@keyframes breathing {

  0%,
  10% {
    -webkit-transform: scale(0.4);
    -ms-transform: scale(0.4);
    transform: scale(0.4);
  }

  90%,
  100% {
    -webkit-transform: scale(0.9);
    -ms-transform: scale(0.9);
    transform: scale(0.9);
  }
}

.sequence-container {
  @include centered-flex-display();
  flex-direction: column;
  width: 95vw;
  height: 95vh;
  background: rgba(234, 238, 238, 0.96);
  box-shadow: 0 0 5px 2px #888888;
  border-radius: 5px;
  .prompts {
    @include centered-flex-display();
    h1{
      @include fade-in('0s');
      @include main-text();
      color: $secondary-font-color;
      font-size: 70px;
      margin: 0;
    }
    h2{
      @include main-text();
      @include fade-in('2s');
      color: $secondary-font-color;
      font-size: 50px;
      margin: 0;
      padding-bottom: 20px;
    }
    flex-direction: column;
    .breathing-container {
      @include fade-in('4s');
      background: url('https://res.cloudinary.com/dum4u7sro/image/upload/v1589129729/icons_Journey_App_-_Desktop_9_yxouzp.png');
      img {
        animation: breathing 7s linear infinite alternate-reverse
      }
    }
    .input-container{
      @include fade-in('2s');
      @include centered-flex-display();
      background-image: url('https://res.cloudinary.com/dum4u7sro/image/upload/v1589152906/Untitled_design_hlouno.png');
      height: 400px;
      width: 900px;
      background-position: center;
      background-size: contain;
      background-repeat: no-repeat;
      input{
        //need to line break in here and make font bigger!!
        @include main-text();
        background: none;
        border: none;
        font-size: 30px;
        height: 200px;
        width: 700px;
      }
    }
  }
  .sequence-buttons {
    min-width: 70vw;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    @include fade-in('30s');
    button {
      margin-top: 15px;
      font-size: 50px;
      @include main-text();
      background: rgba(255, 238, 181, 0.52);
      border-radius: 5px;
      border: 0px;
      box-shadow: 0 0 5px 1px #888888;
      &:hover {
        color: $secondary-font-color;
        cursor: pointer;
        transition: color, 2s;
        text-shadow: 4px 4px #888888;
        box-shadow: 0 0 5px 2px #888888;
      }
    }
  }
  .submit-container{
    background: url('https://res.cloudinary.com/dum4u7sro/image/upload/v1589170303/Images_-_Journey_App_-_Desktop_2_cxd3wm.png');
  }
}