$secondary-font-color: rgba(0, 0 , 0, 0.7);
$main-font-color: rgba(255, 255, 220, 0.9);
$hover-font-color: rgba(159, 210, 222, 0.8);
$main-background-color: rgb(234, 238, 238);
@mixin centered-flex-display{
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin main-text{
  color: $main-font-color;
  font-family: 'Nanum Brush Script', cursive;
  letter-spacing: 3px;
  text-shadow: 2px 2px #4d4c4c;
}

@mixin breathe-size-desktop{
  min-width: 600px;
  min-height: 600px;
}
@mixin input-style-desktop{
  font-family: 'Nanum Brush Script', cursive;
  letter-spacing: 3px;
  background: $main-background-color;
  border-radius: 5px;
  padding: 5px;
  margin: 5px;
}
@mixin fade-in{
  @keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
  }
  -webkit-animation: fadein 2s ease-in;
  -moz-animation: fadein 2s ease-in;
   -ms-animation: fadein 2s ease-in;
    -o-animation: fadein 2s ease-in;
       animation: fadein 2s ease-in;
}
@keyframes breathing {
    0%, 10% {
      -webkit-transform: scale(0.4);
      -ms-transform: scale(0.4);
      transform: scale(0.4);
    }
    90%, 100% {
      -webkit-transform: scale(0.9);
      -ms-transform: scale(0.9);
      transform: scale(0.9);
    }
  }
.sequence-container{
    @include centered-flex-display();
    @include fade-in();
    width: 95vw;
    height: 95vh;
    background: rgba(234, 238, 238, 0.96);
    box-shadow: 0 0 5px 2px #888888;
    border-radius: 5px;
    .breathing-container{
        background: url('https://res.cloudinary.com/dum4u7sro/image/upload/v1589129729/icons_Journey_App_-_Desktop_9_yxouzp.png');
        img{
            animation: breathing 7s linear infinite alternate-reverse
        }
    }
  }
  